:root {
    --color-fg: #222;
    --color-bg: #f9f9f9;
}

// @media (prefers-color-scheme: dark) {
//     :root {
//         --color-fg: #eee;
//         --color-bg: #34495e;
//     }
// }

body {
    font-family: sans-serif;
    background-color: var(--color-bg);
    color: var(--color-fg);
}
