@layer components {
    /* * Inline Objects * */
    .icon {
        @apply inline-block align-middle relative bottom-[0.1em];
    }

    .chip {
        @apply bg-background-dark text-background-fg rounded-full px-4 py-2 align-middle inline-flex flex-row items-center relative -top-px;

        &.primary {
            @apply text-primary;
        }

        &.small {
            @apply px-2 py-1 text-xs;
        }

        & > .icon {
            @apply p-0;
        }
    }

    /* * Buttons * */
    button,
    .button {
        @apply px-8 py-2 rounded-xl transition-all relative;

        & > .icon {
            @apply p-0;
        }
        & > .icon:first-child {
            @apply absolute left-8 top-1/2 -translate-1/2 text-xl transition-[left] text-primary;
        }
        &:has(> .icon:last-child) {
            @apply pr-12;
        }

        & > .icon:last-child {
            @apply absolute right-2 top-1/2 -translate-1/2 text-xl transition-[right];
        }
        &:has(> .icon:first-child) {
            @apply pl-12;
        }

        &.large,
        &:is(.large > *) {
            @apply px-12 py-4 text-xl rounded-2xl;

            & > .icon {
                @apply text-2xl;
            }
            &:has(> .icon:last-child) {
                @apply pr-16;
            }
            &:has(> .icon:first-child) {
                @apply pl-16;
            }
        }

        &:not(.plain) {
            @apply border-2 border-current/25;
            @variant hover {
                @apply contrast-110 bg-black/5;
            }
        }

        @variant hover {
            & > .icon:last-child {
                @apply right-0;
            }
        }
    }

    /* * Blocks * */
    .panel {
        @apply relative my-2 px-8 lg:px-12 py-6 lg:py-10 rounded-2xl bg-background-light;
    }

    article,
    .card {
        @apply relative my-2 px-8 py-6 rounded-2xl bg-background-light grid gap-x-6 gap-y-2 transition-all;
        grid-template-areas:
            "aside header"
            "aside content"
            "aside footer";
        grid-template-columns: auto 1fr;

        & > * {
            grid-area: content;
        }

        & > :where(aside, .aside) {
            @apply relative -ml-2;
            grid-area: aside;
        }

        & > :where(header, .header) {
            @apply font-semibold text-lg uppercase;
            grid-area: header;
        }

        & > :where(footer, .footer) {
            grid-area: footer;
        }

        @variant hover {
            @apply contrast-110;
        }
    }

    pre {
        @apply bg-black/2 p-2 text-xs rounded-lg overflow-x-auto [scrollbar-width:thin];
    }

    fieldset {
        @apply flex flex-row flex-wrap gap-2 lg:gap-4;
    }

    blockquote {
        @apply pl-8 border-l-4 border-primary my-2 opacity-85;
    }

    /* * Rules and Decorations * */
    hr,
    .hr {
        @apply border-t border-background-dark2 my-2 mx-[5%];
    }

    /* * Lists * */
    ul {
        @apply list-disc ml-6;
    }
}
