@theme {
    --color-brand: var(--color-sky-400);
    --color-brand-light: var(--color-cyan-500);
    --color-brand-dark: var(--color-sky-700);
    --color-brand-fg: var(--color-sky-50);

    --color-primary: var(--color-brand);
    --color-primary-light: var(--color-brand-light);
    --color-primary-dark: var(--color-brand-dark);
    --color-primary-fg: var(--color-brand-fg);
}

@custom-variant active (&:where(.active, :active, [active], [data-status="active"]));

@layer base {
    body {
        @apply w-screen min-h-screen overflow-hidden bg-slate-100 text-gray-800;
        font-family: "Nunito", sans-serif;
        font-optical-sizing: auto;

        & > * {
            @apply mx-auto;
        }
    }

    html {
        @apply w-screen min-h-screen overflow-hidden;
    }
}
